:root {
    --primary-color-blue: hsl(203, 100%, 13%);
    --primary-color-green: hsl(85, 88%, 43%);
    --secondary-color-black: hsl(60, 3%, 6%);
    --secondary-color-white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 50%);
    --fs-64: 4rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-37: 2.375rem;
    --fs-50: 3.125rem;
    --fs-25: 1.5625rem;
    --fs-65: 4.0625rem;
    --fs-22: 1.375rem;
    --fs-88: 5.75rem;
    --container-width: 69.375rem;
}


html {
    box-sizing: border-box;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

p,
br,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: var(--fs-18);
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container-width);
    margin-inline: auto;
}


/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

}

nav ul {
    display: flex;
    order: 2;
}

nav ul a {
    color: var(--primary-color-blue);
    font-size: var(--fs-18);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    margin-left: 2rem;
    text-transform: uppercase;
}

nav ul a:hover {
    color: var(--primary-color-green);
    transition: color 0.1s ease-in-out;
}

.container {
    /* height: 608px; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
    /* overflow: hidden; */
}

.hero-text h1 {
    color: var(--primary-color-blue);
    font-size: clamp(2.31rem, 2.54vi + 1.72rem, 4rem);
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero-text h1 span {
    color: var(--primary-color-green);
}

button {
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
    font-size: var(--fs-18);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border: 2px solid var(--primary-color-blue);
    border-radius: 10px;
    padding: 24px 32px;
    transition: color 0.1s ease-in-out;
    margin: 8px;
}

button:nth-child(3) {
    background-color: var(--secondary-color-white);
    color: var(--primary-color-blue);
}

button:hover {
    color: var(--primary-color-green);
    transition: color 0.1s ease-in-out;
}


.container picture {
    position: relative;
    right: -90px;
    bottom: -6px;
}

.hamburger {
    display: none;
}



/* HERO */
.hero__heading1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: clamp(1.5rem, 11.52vi + -1.7rem, 5.5rem);
    font-weight: 700;
    color: var(--primary-color-blue);
    margin: 0 0 30px 0;
}

.hero__heading1 .hero__heading3 {
    color: var(--primary-color-green);
}

.hero_container {
    /* height: 608px; */
    align-content: center;
    position: relative;
}

.hero_container .cta1_btn,
.hero_container .cta2_btn {
    text-decoration: none;
    color: var(--primary-color-blue);
    font-size: clamp(1rem, 1.28vi + 0.7rem, 1.5rem);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border: 2px solid var(--primary-color-blue);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    transition: color 0.1s ease-in-out;
    position: relative;
    bottom: 0;
    margin-left: 10px;
}

.hero_container .cta1_btn {
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
}

.hero_container .cta1_btn:hover,
.hero_container .cta2_btn:hover {
    color: var(--primary-color-green);
}

.hero__image svg {
    position: absolute;
    right: -148px;
    bottom: 0;
}

.hand-element {
    width: 100%;
    max-width: 670px;
    height: auto;
    z-index: -1;

}


/* PURPOSE */
.purpose {
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
    /* min-height: 467px; */
}

.flex-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 467px;
}

.flex-title>span {
    white-space: wrap;
    width: 561px;
    /* height: 243px; */
}

.flex-title .title-note {
    font-size: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
    font-weight: 400;
}

.flex-title .title-main {
    flex-grow: 1;
    width: 450px;
    /* height: 140px; */
    font-size: clamp(2rem, 3vi + 1.3rem, 4rem);

}

.flex-title .title-main span {
    color: var(--primary-color-green);
}


/* SOLUTION */

.solution_container .title-main {
    color: var(--primary-color-blue);
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.flex-container .element {
    width: 360px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
    padding-bottom: 20px;
}

.flex-container .element img {
    position: absolute;
    top: 0;
}

.flex-container .element .invisible {
    height: 360px;
}

.flex-container .text-container .title-main span {
    font-weight: normal;
}
.flex-container .text-container .title-description {
    font-size: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
    font-weight: normal;
    line-height: 37px;
}

.flex-container .text-container {
    padding: 20px;
    font-size: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
}

.flex-container .element img {
    width: 100%;
    max-width: 360px;
    height: auto;
}

.flex-solution-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 370px;
}

.flex-solution-title .title-main {
    flex-grow: 1;
    font-size: clamp(2rem, 3vi + 1.3rem, 4rem);

}

.flex-solution-title .title-main span {
    color: var(--primary-color-green);
}

/* SKILLS  & PROCESS*/

.skills {
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
}

.flex-skills-container, .flex-process-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 467px;
    gap:7em;
    margin: 0 25px;
}

.flex-skills-container .skills-title-note ul {
    padding-left: 4em;
}

.flex-skills-container>span, .flex-process-container>span {
    white-space: wrap;
    width: 561px;
    /* height: 243px; */
}

.flex-skills-container .skills-title-note, .flex-process-container .process-title-note {
    font-size: clamp(1rem, 0.75vi + 0.82rem, 1.5rem);
    font-weight: 400;
    width: 585px;
}

.flex-process-container .process-title-note {
    font-size: clamp(1rem, 0.75vi + 0.82rem, 1.5rem);
    font-weight: 400;
    width: 489px;
}


.flex-skills-container .skills-title-note ul li span {
    color: var(--primary-color-green);
}


.flex-skills-container .skills-title-note ul li {
    line-height: 1.8em;
}

.flex-skills-container .skills-title-main, .flex-process-container .process-title-main {
    flex-grow: 1;
    width: 110px;
    /* height: 140px; */
    font-size: clamp(2rem, 3vi + 1.3rem, 4rem);
    font-weight: bold;
}

.flex-skills-container .skills-title-main span, .flex-process-container .process-title-main span {
    color: var(--primary-color-green);
}

hr {
    /* width: 70%; */
    margin:auto;
    color: var(--primary-color-blue);
}

.process-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.process-category .box {
    display: flex;
    outline: 1px solid var(--primary-color-blue);
    width: 100%;
    gap: 20px;
    margin: 10px 0;
    border-radius: 24px;
}

.process-category .box .image-con {
    width: 200px;
    height: 200px;
    background-color: var(--primary-color-blue);
    display: flex;
    border-radius: 24px 0 0 24px;
}

.process-category .box .text {
    margin: auto
}
.process-category .box .text .category-title-main {
    font-size: clamp(1rem, 1.97vi + 0.54rem, 2.31rem);
    font-weight: bold;
    color: var(--primary-color-blue);
}
.process-category .box .text .category-title-main span{
    color: var(--primary-color-green);
}


/* CONTACT */

.flex-contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 920px;   
    gap: 9em; 
}

.contact-title-main {
    font-size: clamp(2.31rem, 2.63vi + 1.7rem, 4.06rem);
}

.text-container p {
    font-size: clamp(1rem, 0.56vi + 0.87rem, 1.38rem);
}

.form-group {
    position: relative;
    margin-bottom: 32px;
}

.form-field {
    position: relative;
    margin-bottom: 32px;
  }
  
  .form-label {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 16px;
    line-height: 1.17;
    color: #A3A3A3;
    transition-property: transform;
    transition-duration: 0.3s;
  }

  .form-input:focus + .form-label {
    transform: translate(-15px, -36px);
  }

  .form-input {
    padding: 16px 16px;
    width: 100%;
    color: var(--primary-color-blue);
    border-radius: 8px;
    background-color: #F4F4F4;
    border-color: A3A3A3;
  }

  form p {
    margin-bottom: 35px;
    font-size: var(--fs-22);
  }

textarea {
    height: 212px;
}
  
.form-button{
    color: var(--secondary-color-white);
    background-color: var(--primary-color-green);
    border-color: var(--primary-color-green);
    padding: 6px 32px;
}

/* FOOTER */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

@media (max-width: 860px) {
    .container {
        margin-top: 10px;
        flex-direction: column;
    }

    .hero-text h1 {
        width: 100%;
    }

    .container picture svg {
        width: 100%;
        max-width: 373px;
        height: auto;
    }

    .container picture {
        right: 0;
    }

    .hero-text {
        text-align: center;
    }

    button {
        padding: 12px 16px;
        margin: 12px;
    }

    

    /* PURPOSE */
    .purpose_container {
        text-align: center;
    }
    /* Skills */
    .skills_container {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .flex-container {
        justify-content: center;
    }
}


@media (max-width: 600px) {
    .container picture {
        right: 0;
    }

    .hero-text {
        text-align: center;
    }

    .container picture svg {
        width: 100%;
        max-width: 394px;
        height: auto;
    }

    nav ul a {
        display: none;
    }

    .hamburger {
        display: block;
    }

    

}


@media (max-width: 375px) {
    .container picture {
        right: 0;
    }

    .hero-text {
        text-align: center;
    }

    .container button {
        padding: 12px 16px;
    }

    .container picture svg {
        width: 100%;
        max-width: 286px;
        height: auto;
    }

    /* SKILLS */
    .flex-skills-container, .skills-title-main, .skills-title-note {
        text-align: center;
    }
    .flex-skills-container {
        gap:0;
    }
}

/* tablet */
@media (min-width: 37.5em) {

    /* 600px */
    .wrapper {
        width: calc(100% - 2rem);
    }

    .outcome__logo__banner,
    .close_btn {
        display: none;
    }

    

}



@media (max-width: 23.5em) {

    .menu {
        display: none;
    }

    .active .outcome__logo__banner {
        display: block;
        position: absolute;
        top: 10rem;
    }

    .active .close_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        background-color: var(--secondary-color-white);
        width: 100%;
        top: 0;
        left: 0;
    }

    .active a {
        display: block;
        font-size: 1.12rem;
        justify-content: center;
        align-items: center;
        color: var(--primary-color-blue);
        transition: color 0.1s ease-in-out;
    }

    .active a:hover {
        color: var(--primary-color-green);
    }

    /* .active {
        display: block;
    } */

    .main-nav .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        ;
    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--secondary-color-black);
    }


    

}