:root {
    --primary-color-blue: hsl(203, 100%, 13%);
    --primary-color-green: hsl(85, 88%, 43%);
    --secondary-color-black: hsl(60, 3%, 6%);
    --secondary-color-white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 50%);
    --fs-64: 4rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-37: 2.375rem;
    --fs-50: 3.125rem;
    --fs-25: 1.5625rem;
    --fs-65: 4.0625rem;
    --fs-22: 1.375rem;
    --container-width: 69.375rem;
}


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: var(--fs-18);
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container-width);
    margin-inline: auto;
}


/* HEADER */

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.hamburger {
    display: none;
}

/* .logo {
    max-width: 100%;
    height: auto;
} */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 1.5rem;
}

.menu a {
    text-decoration: none;
    color: var(--primary-color-blue);
    font-size: var(--fs-18);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.menu a:hover {
    color: var(--primary-color-green);
    transition: color 0.1s ease-in-out;
}

.outcome__logo__banner, .close_btn{
    display: none;
}




/* tablet */
@media (min-width: 37.5em) {

    /* 600px */
    .wrapper {
        width: calc(100% - 2rem);
    }

    .outcome__logo__banner, .close_btn{
        display: none;
    }
}

@media (max-width: 23.5em) {

    /* .menu {
        display: none;
        text-align: center;
        width: 92%;
        position: absolute;
        padding: 0;
        top: 50px;
    } */
     .menu {
        display: none;
     }
     .active .outcome__logo__banner {
        display: block;
        position: absolute;
        top: 10rem;
     }

     .active .close_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
     }
    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        background-color: var(--secondary-color-white);
        width: 100%;
        top:0;
        left: 0;
    }

    .active a {
        display: block;
        font-size: 1.12rem;
        justify-content: center;
        align-items: center;
        color: var(--primary-color-blue);
        transition: color 0.1s ease-in-out;
    }

    .active a:hover {
       color: var(--primary-color-green);
    }

    /* .active {
        display: block;
    } */

    .main-nav .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;;
    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--secondary-color-black);
    }

}