:root {
    --primary-color-blue: hsl(203, 100%, 13%);
    --primary-color-green: hsl(85, 88%, 43%);
    --secondary-color-black: hsl(60, 3%, 6%);
    --secondary-color-white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 50%);
    --fs-64: 4rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-20: 1.25rem;
    --fs-32: 2rem;
    --fs-37: 2.375rem;
    --fs-50: 3.125rem;
    --fs-25: 1.5625rem;
    --fs-65: 4.0625rem;
    --fs-22: 1.375rem;
    --fs-88: 5.75rem;
    --container-width: 69.375rem;
}


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: var(--fs-18);
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container-width);
    margin-inline: auto;
}


/* HEADER */

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.hamburger {
    display: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 1.5rem;
}

.menu a {
    text-decoration: none;
    color: var(--primary-color-blue);
    font-size: var(--fs-18);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

.menu a:hover {
    color: var(--primary-color-green);
    transition: color 0.1s ease-in-out;
}

.outcome__logo__banner,
.close_btn {
    display: none;
}


/* HERO */
.hero__heading1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: clamp(1.5rem, 11.52vi + -1.7rem, 5.5rem);
    font-weight: 700;
    color: var(--primary-color-blue);
    margin: 0 0 30px 0;
}

.hero__heading1 .hero__heading3 {
    color: var(--primary-color-green);
}

.hero_container {
    height: 608px;
    align-content: center;
    position: relative;
}

.hero_container .cta1_btn,
.hero_container .cta2_btn {
    text-decoration: none;
    color: var(--primary-color-blue);
    font-size: clamp(1rem, 1.28vi + 0.7rem, 1.5rem);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    border: 2px solid var(--primary-color-blue);
    border-radius: 10px;
    padding: 1.5rem 2rem;
    transition: color 0.1s ease-in-out;
    position: relative;
    bottom: 0;
    margin-left: 10px;
    
}

.hero_container .cta1_btn {
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
}

.hero_container .cta1_btn:hover,
.hero_container .cta2_btn:hover {
    color: var(--primary-color-green);
}

.hero__image svg {
    position: absolute;
    right: -148px;
    bottom: 0;
}

.hand-element {
    width: 100%;
    max-width: 670px;
    height: auto;
    z-index: -1;

}


/* PURPOSE */
.purpose_container {
    background-color: var(--primary-color-blue);
    color: var(--secondary-color-white);
}

.purpose__heading {
    font-size: var(--fs-64);
    font-weight: 700;
    color: var(--secondary-color-white);
    width: 477px;
    height: 140;
}

.purpose_container p {
    width: 561px;
    height: 243px;
}

.purpose__heading span {
    color: var(--primary-color-green);
}

/* tablet */
@media (min-width: 37.5em) {

    /* 600px */
    .wrapper {
        width: calc(100% - 2rem);
    }

    .outcome__logo__banner,
    .close_btn {
        display: none;
    }

    /* HERO */

    .hero_container {
        align-items: center;
    }


}



@media (max-width: 23.5em) {

    .menu {
        display: none;
    }

    .active .outcome__logo__banner {
        display: block;
        position: absolute;
        top: 10rem;
    }

    .active .close_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        background-color: var(--secondary-color-white);
        width: 100%;
        top: 0;
        left: 0;
    }

    .active a {
        display: block;
        font-size: 1.12rem;
        justify-content: center;
        align-items: center;
        color: var(--primary-color-blue);
        transition: color 0.1s ease-in-out;
    }

    .active a:hover {
        color: var(--primary-color-green);
    }

    /* .active {
        display: block;
    } */

    .main-nav .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        ;
    }

    .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--secondary-color-black);
    }


    /* HERO */

    .hero_container {
        display: block;
        margin-inline: auto;
        text-align: center;
    }

    .hero_container .hero__heading1 {
        font-size: var(--fs-37);
    }

    .cta__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /* .hero__image svg {
        display: none;
    } */

}